<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Saisie d'un potager</title>
</head>
<body>
<h1>Saisie</h1>
<form th:action="@{/potager/add}" th:object="${potager}" method="post">
	<label for="location">location:</label>
	<input type="text" th:field="*{location}" id="location"/>
	<span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"/>
	<br>
	<label for="couleur">couleur:</label>
	<input type="text" th:field="*{couleur}" id="couleur"/>
	<span th:if="${#fields.hasErrors('couleur')}" th:errors="*{couleur}"/>
	<br>
	<label for="brasserie">brasserie:</label>
	<input type="text" th:field="*{brasserie}" id="brasserie"/>
	<span th:if="${#fields.hasErrors('brasserie')}" th:errors="*{brasserie}"/>
	<br>
	<input type="submit" value="valider"/>
</form>
</body>
</html>